video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.App {
  background-color: rgba(255, 255, 255, 0.5);
}

.container {
  display: flex;
  justify-content: center;
}

.search {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  color: #575756;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  }

  li {
    background-color: #ddd6e8;
    padding: 10px;
    margin: 10px;
    list-style-type: circle;
    width: 200px;
  }

  h1, h2, h3, ul, p {
    font-family: 'Montserrat', sans-serif;
  }

  h3 {
    text-transform: uppercase;
  }

  p {
    text-align: center;
  }

  button {
    border-radius: 12px;
    border: none;
    background-color: transparent;
    }

  .feature {
      display: flex;
      max-width: 1200px;
      margin: 0 auto;
      flex-wrap: wrap;
      padding-top: 10px;
  }

  .plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9DC08B;
    margin: 10px;
    padding: 10px;
    flex: 1;
}


