.imageFood {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.App {
  background-color: rgba(255, 255, 255, 0.5);
}

.container {
  display: flex;
  justify-content: center;
}

.search {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  color: #575756;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  }

  li {
    background-color: #ddd6e8;
    padding: 10px;
    margin: 10px;
    list-style-type: none;
    width: 200px;
  }

  h1, h2, ul, p {
    font-family: 'Open Sans', sans-serif;
  }

  .check {
    width: 30px;
  }

  button {
    margin-top: 10px;
    border-radius: 12px;
    border: none;
    background-color: #dbecc4;
    }

    .feature {
      display: flex;
      max-width: 1200px;
      margin: 0 auto;
      flex-wrap: wrap;
  }

  .plan {
    display: flex;
    flex-direction: column;
    background-color: #86A789;
    margin: 10px;
    padding: 10px;
    flex: 1;
}


